body {
  background-color: #080808;
  color: #ababab;
}

#obWrapper {
  width: 250px;
  background-color: #eee;
}

#paperCanvas {
  border: 1px solid #ccc;
  display: inline;
  margin-right: -100%;
  background-color: rgba(0, 0, 0, 0);
}

#nativeCanvas {
  border: 1px solid #ccc;
  display: inline;
  background-color: rgba(0, 0, 0, 0);
}
